@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-one: #8261ee;
  --color-two: #ff589e;
  --color-text: #1e1e1e;

  --font: "Raleway", serif;
}

body {
  color: var(--color-text);
  line-height: 1.6;
  font-family: var(--font);
  margin: 0;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--color-two);
}

/* Button */
.button {
  display: inline-block;
  padding: 8px 20px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 45px;
  background-color: #fff;
  color: var(--color-text);
  transition: all 0.3 ease 0s;
}

.button-one {
  background: var(--color-one);
  color: #fff;
}

.button-one:hover {
  background: var(--color-two);
  color: #fff;
  transition: all 0.3 ease;
}

.button-two {
  background: var(--color-two);
  color: #fff;
}

.button-two:hover {
  background: var(--color-one);
  color: #fff;
  transition: all 0.3 ease;
}
/* End Button */

/* Box-head */
.box-head {
  text-align: center;
  margin-bottom: 30px;
}

.box-head .inner-title {
  font-size: 28px;
  margin-bottom: 0;
}

.box-head .inner-desc {
  font-size: 14px;
  margin-top: 10px;
}

.header .inner-icon-mobi {
  display: none;
}

@media (max-width: 991.98px) {
  .header .inner-menu {
    display: none;
  }

  .header .inner-icon-mobi {
    display: block;
    font-size: 24px;
  }
}
/* End Box-head */
