/* Header */
.header {
  position: fixed;
  top: 40px;
  left: 0px;
  width: 100%;
  z-index: 9999;
}
.header .inner-main {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 25px 25px;
  border-radius: 45px;
  background-color: white;
  align-items: center;
}

.header .inner-logo img {
  height: 30px;
  width: auto;
}

.header .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header .inner-menu ul li {
  margin-left: 25px;
}

.header .inner-menu ul li a {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 500;
}

.header .inner-menu ul li a:hover {
  color: var(--color-two);
}

.header .inner-menu ul li a.active {
  color: var(--color-two);
}

/* End Header */

/* Section One */
.section-one {
  background-image: url(../image/banner-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-one .inner-wrap {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.section-one .inner-title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 10px;
}

.section-one .inner-desc {
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  .section-one .inner-title {
    font-size: 20px;
  }
  .section-one .inner-desc {
    color: #fff;
    margin-bottom: 13px;
  }
}
/* End Section One */

/* Section Two */
.section-two {
  margin-top: -220px;
}

.section-two .inner-box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.section-two .inner-box .inner-icon {
  background: var(--color-one);
  display: inline-flex;
  padding: 20px;
  width: 80px;
  height: 80px;
  justify-content: center;
  border-radius: 50%;
}

.section-two .inner-box:hover {
  cursor: pointer;
}

.section-two .inner-box:hover .inner-icon {
  background: var(--color-two);
}

.section-two .inner-box .inner-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-two .inner-box .inner-title {
  font-style: 18px;
  margin-top: 20px;
  margin-bottom: 15px;

  display: -webkit-box; /* Sử dụng để hỗ trợ ellipsis với multi-line */
  -webkit-box-orient: vertical; /* Hướng của box */
  overflow: hidden; /* Ẩn nội dung vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu "..." */
  white-space: normal; /* Đảm bảo text xuống dòng */
  line-clamp: 1; /* Giới hạn chỉ 1 dòng */
  -webkit-line-clamp: 1; /* Giới hạn chỉ 1 dòng cho trình duyệt hỗ trợ */
}

.section-two .inner-box .inner-desc {
  font-style: 13px;
  margin-bottom: 0;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2; /* Giới hạn 2 dòng */
  line-clamp: 2;
}

@media (max-width: 991.98px) {
  .section-two {
    margin-top: 0;
  }
}
/* End Section Two */

/* Section Three */
.section-three {
  margin-top: 80px;
  margin-bottom: 80px;
}

.section-three .inner-image {
  text-align: center;
}

.section-three .inner-image img {
  max-width: 100%;
  height: auto;
}

.section-three .inner-content .inner-title {
  font-style: 28px;
  margin-bottom: 25px;
}

.section-three .inner-border-bottom {
  border: 1px solid #ddd;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
/* EndSection Three */

/* Blog-entries */
.blog-entries {
  padding-bottom: 80px;
}

.blog-entries .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 15px;
  overflow: hidden;
}

.blog-entries .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-entries .inner-content {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.blog-entries .inner-content .inner-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.blog-entries .inner-content .inner-desc {
  font-size: 13px;
}
/* End Blog-entries */
